body {
    font-family: Arial, sans-serif;
    background-image: url('../images/background_image.jpg'); /* 使用相对路径，确保指向正确的背景图片位置 */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.image-side img {
    max-width: 300px; /* 限制图片大小 */
    margin-right: 50px;
}

.form-side {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
    width: 350px;
}

.form-side h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-side p {
    margin-bottom: 15px;
}

.form-side input, .form-side select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-side input[type="checkbox"] {
    width: auto;
}

#btn a {
    display: block;
    text-align: center;
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}
