{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>中医药小程序后台登陆</title>

    <!-- 引入静态资源 -->
    <link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/default/easyui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'easyui/themes/icon.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" /> <!-- 确保 CSS 文件的引用 -->
</head>
<body>

<!-- 添加外部容器，用于包含图片和表单 -->
<div class="login-container">
    
    <!-- 表单部分 -->
    <div class="form-side">
        <form id="loginForm" method="post" data-login-url="{% url 'Index:login' %}" data-main-url="{% url 'Index:main' %}" data-doctor-url="{% url 'Index:doctorMain' %}">
            {% csrf_token %}
            <h2>欢迎登录医院预约挂号系统</h2> <!-- 添加标题 -->
            <p>登录帐号：<input type="text" id="manager" class="textbox" required></p>
            <p>登录密码：<input type="password" id="password" class="textbox" required></p>
            <p>身份：
                <select name="identify" id="identify">
                    <option value="doctor">医生</option>
                    <option value="admin">超级管理员</option>
                </select>
            </p>
            <p>
                <label>
                    <input id="saveid" type="checkbox" onclick="savePaw();" />
                    记住账号
                </label>
            </p>
            <div id="btn">
                <a href="#" class="easyui-linkbutton" onclick="submitForm()">登录</a>
            </div>
        </form>
    </div>
</div>

<!-- 引入JS文件 -->
<script type="text/javascript" src="{% static 'easyui/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'easyui/jquery.easyui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'easyui/locale/easyui-lang-zh_CN.js' %}"></script>
<script type="text/javascript" src="{% static 'easyui/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>

</body>
</html>
